
$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;


@mixin article-card($borderColor, $width, $textColor, $fontSize){
    border: $width solid $borderColor;
    color: $textColor;
    font-size: $fontSize;


}

.container {
    border: 1px solid $color-primary;
    text-align: center;
    width: 80%;
    margin: 5px auto;

    h1 {

        text: {
            decoration: underline;
            decoration-color: $color-secondary;
            decoration-thickness: 1px;
            underline-offset: 8px;
        }
        color: $color-tertiary;
        
    }

    .content-odd {
        @include article-card($color-tertiary, 1px,$color-secondary, 18px)

    }

    .content-even {
        @include article-card($color-tertiary, 1px,$color-primary, 18px)
    }
    
    .footer-content {
        @include article-card($color-secondary, 1px,$color-tertiary, 24px);
        width: 100%;
        
    }
} 




section {
    display: flex;
    align-content: center;
    margin: 10px 20px;
    
}

article {
    padding: 10px;
    
}

